/*CSS*/

body {
  width: 100%;
  min-width: 800px;
  margin: 0 auto;
  background: #a7b0c4;
  color: rgb(12, 11, 11) 
  }

  .wrapper {
    width: 80%;
    display: flex;
    flex-direction: column;

  }
  h1 {
    justify-content: center;
    font-size: 38px;
    color: #fff
  }