/*CSS*/

body {
  margin: 5 auto;
  background: #4b7ff0;
  color: rgb(12, 11, 11) 
  }

  .wrapper {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  h1 {
    justify-content: center;
    font-size: 38px;
    color: #fff
  }