/*CSS*/

body {  
  background:#152d94;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
}
.container{
  min-width: 360px;
  width: 50%;
  margin: 20px auto;
  background: #4b7ff0;
  align-self: center;
}
h1 {
  font-size: 20px;
  color:white;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}
.flex-outer, .flex-inner {
  list-style-type: none;
}
.flex-outer li, .flex-inner {
  display: flex;
  flex-wrap: wrap;

}
label, p {
  width: 150px;
}
.wrapper {
  flex-wrap: no wrap;
  flex-direction: row;
}


