

h1 {
  font-family: 'Londrina Shadow', cursive;
  color: white;
  display:block;
  justify-content: space-around;
  font-weight: 260px;
  margin-top:5px;
}

p, li {
  font-family: 'Roboto Slab', serif;
  color: #2a2a2a;
}

body {
  width: 95%;
  min-width: 800px;
  margin: 0 auto;
  background-color:rgb(255, 237, 209, 100); 
}
.extrawrapper {
  background-color: rgb(235,164,54,92);
}
.header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(10, 97, 168, 66);
  padding: 15px;
  margin-bottom: 15px;
}
.subject {
  font-size: 28pt;
  margin-left: 25px;
}
.wrapper {
  padding-top: 10px;
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  align-items: center;
  background-color: rgb(235,164,54,92);
}
.container {
  display: flex;
  max-width: 960px;
  min-height: 100%;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 15px;
}
.profile {
  flex: 0 1 auto;
  margin-right: 15px;
  width: 180px;
}
.profile img {
  height: 250px;
  width: 180px;
  border-radius: 4px;
  border-width: 1px;
  border-color: rgb(161, 98, 0, 63);
  border-style: solid;
}

.profile p {
  padding: 15px;
  background-color: rgb(255, 237, 209, 100);
  border-radius: 4px;
  flex: 1 0 auto;
  border-color: rgb(161, 98, 0, 3);
  border-style: groove;
  
}
.content {
  flex: 4;
  /*flex: 0 2 auto;*/
  background-color: rgb(213,225,235, 92);
  border-radius: 4px;
  padding: 15px;
  border-color: rgb(10, 97, 168, 66);
}

.content h2 {
  font-family: 'Roboto Slab', serif;
  font-weight: bolder;
  margin-bottom: 20px;
  color: rgb(161, 98, 0, 80);
}
.text {
  display: flex;
  flex-flow: row wrap;
 }
.title {
  font-size: medium;
  font-style: italic;
  font-weight: bolder;
  margin-left: 0;
  margin-bottom: 5px;
}

@media screen and (max-width:1000px) {
  .container {
    flex-direction: row;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    margin-right: 10px;;
  }
  .profile {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 0px;
    margin-bottom: 12px;
    flex: 1 0 auto;
  }
  .profile p {
    width: 180px;
    margin-left: 15px;
  }
  .profile img {
    margin-left: 15px;
  }
}
@media screen and (max-width:375px){
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

  }
  .profile {
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    
  } 
}
